*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 90%;
    
    margin:5px;
    padding:25px;
    margin: auto;

}
.submitting{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(41, 152, 85);
}
.container h2{
    text-align: center;
    font-family: 'Srimati';
    font-size: 30px;
    color : underline;
    
}
.container p{
    text-align: center;
    font-family: cursive;
}

input, textarea {
    margin: 11px auto;
    
    border:3px solid #000000;
    border-radius: 9px;
    outline: none;
    width:80%;
    padding:10px;
    margin:10px;
    font-size: 14px;
    
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    padding:10px;
    font-size: 10px;
    background-color: rgb(93, 93, 175);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin : 2px white;
}

.bg{
    width:100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

.submit{
    margin:10px;
    padding: 20px;
    background-color: aqua;
    border-radius: 9px;
    box-shadow: 5px 10px #888888;
    border:#000000;
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI';
    font-size: 25px;
    color: rgb(4, 71, 31);
}